<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>用户名:{{ user }}</p>
<p>年龄:{{ age }}</p>
<p>四大名著:{{ books }}</p>
{#<p>{{ books.0 }}</p>#}
{#<p>{{ books.1 }}</p>#}
{#<p>{{ books.2 }}</p>#}
{#<p>{{ books.3 }}</p>#}
<ul>
    <li><1>:{{ books.0 }}</li>
    <li><2>:{{ books.1 }}</li>
    <li><3>:{{ books.2 }}</li>
    <li><4>:{{ books.3 }}</li>
</ul>
{#<p>姓名: {{ info.name }}</p>#}
{#<p>年龄: {{ info.age }}</p>#}
{#<p>性别: {{ info.sex }}</p>#}

<p>影视区</p>

{#{% if age > 18 %}#}
{#    <ul>#}
{#        <li>国产</li>#}
{#        <li>欧美</li>#}
{#        <li>日韩</li>#}
{#    </ul>#}
{##}
{#{% else %}#}
{#    <ul>#}
{#        <li>黑猫警长</li>#}
{#        <li>熊出没</li>#}
{#        <li>大头儿子与小头爸爸</li>#}
{#    </ul>#}
{##}
{#{% endif %}#}
{##}
{#{% for book in books %}#}
{#    <li>{{ book }}</li>#}
{#{% endfor %}#}

{% if age >= 18 %}
    <ul>
        {% for movie in movies.chengnian %}
            <li>{{ movie }}</li>
        {% endfor %}
    </ul>
{% else %}
    <ul>
        {% for movie in movies.qingshaonian %}
            <li>{{ movie }}</li>
        {% endfor %}
    </ul>

{% endif %}


</body>
</html>